html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	outline:none
}

input, textarea{
	box-sizing: border-box;
}
/***************************************/
/***************END OF RESET************/
/***************************************/

/* HOME PAGE */


.video {
    filter: opacity(60%);
    width: 100%;
    height: 600px;
    object-fit: cover;
}

select {
	text-transform: uppercase;
}

.btn-retour {
	text-transform: uppercase;
	border: 1px solid rgb(151, 45, 45);;
	padding: 10px 15px;
	background-color: rgb(151, 45, 45);
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	transition: all .3s;
}

.retour {
	text-align: center;
	margin-top: 20px;
}

.btn-retour:hover {
	color: rgb(151, 45, 45);
	text-decoration: none;
	background-color: #fff;
}


/* FICHE FILM */

.film-title {
	text-align: center;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: bold;
}

.content {
	line-height: 1.2;
}

.content p {
	margin-bottom: 5px;
	font-size: 1.2rem;
}

.onefilm {
	margin-top: 50px;
}

.onefilm img {
	width: 300px;
}

.fiche-film {
	margin: 50px 0;
}

.content-actor, .content-real {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.actor-name, .real-name {
	text-transform: uppercase;
}

.title-actor {
	margin-top: 70px;
	font-size: 1.5rem;
}

.divider {
	margin: 15px auto;
	height: 2px;
	width: 70px;
	background-color: #333;
}

.title-actor h3 {
	text-align: center;
	font-weight: bold;
}

.card {
	background-color: #ddd;
}

.card-header img {
	width: 150px;
}

/* FICHE ACTEUR */

.movie-divider {
	height: 2px;
	width: 70px;
	background-color: #333;
	margin: 7px auto;
}

.title-movie {
	text-align: center;
}

.title-movie h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.list-movie {
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
}

.fiche-acteur {
	margin: 50px 0;
}

.acteur-title {
	text-align: center;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

.fiche-acteur img {
	width: 250px;
}

.actor-content {
	font-size: 1.2rem;
	line-height: 1.3;
}